<div class="stepwizard">
    <div class="stepwizard-row">
        <div class="stepwizard-step">
            <a ui-sref="shopping.membership.offer()" class="btn btn-default btn-circle">1</a>
            <p>Copon/Offer</p>
        </div>
        <div class="stepwizard-step">
            <a ui-sref="shopping.cart()" class="btn btn-default btn-circle">2</a>
            <p>Cart</p>
        </div>
        <div class="stepwizard-step">
            <a ui-sref="shopping.shipping.address()" class="btn btn-default btn-circle">3</a>
            <p>Shipping Address</p>
        </div>
        <div class="stepwizard-step">
            <a ui-sref="shopping.shipping.method()" class="btn btn-default btn-circle">4</a>
            <p>Shipping Method</p>
        </div>
        <div class="stepwizard-step">
            <a ui-sref="shopping.billing.address()" class="btn btn-default btn-circle">5</a>
            <p>Billing Address</p>
        </div>
        <div class="stepwizard-step">
            <button type="button" class="btn btn-primary btn-circle">6</button>
            <p>Payment Method</p>
        </div>
        <div class="stepwizard-step">
            <button type="button" class="btn btn-default btn-circle" disabled="disabled">7</button>
            <p>Payment</p>
        </div>
        <div class="stepwizard-step">
            <button type="button" class="btn btn-default btn-circle" disabled="disabled">8</button>
            <p>Order Invoice</p>
        </div>
    </div>
</div>
