<div class="row">
    <div class="col-lg-8 col-lg-offset-1">
        <div class="row">
            <div class="col-lg-2">
                <img src="app\components\home\views\about\1.jpg" alt="Jahirul Islam" class="img-responsive img-circle" />
            </div>
            <div class="col-lg-6">
                <blockquote>
                    <p>Md. Jahirul Islam Bhuiyan</p>
                    <address>
                        <strong>Email</strong>
                        <a href="mailto:#">0nline4help@gmail.com</a>
                    </address>
                    <footer>
                        Working in
                        <cite title="Southtech Limited">Southtech Limited</cite>
                    </footer>
                </blockquote>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-2">
                <img src="app\components\home\views\about\2.jpg" alt="Jahirul Islam" class="img-responsive img-circle" />
            </div>
            <div class="col-lg-6">
                <blockquote>
                    <p>Md. Hasib Hasan Tarafder</p>
                    <address>
                        <strong>Email</strong>
                        <a href="mailto:#">hasib@gmail.com</a>
                    </address>
                    <footer>
                        Working in
                        <cite title="Southtech Limited">Southtech Limited</cite>
                    </footer>
                </blockquote>

            </div>
        </div>

        <div class="row">
            <div class="col-lg-2">
                <img src="app\components\home\views\about\3.jpg" alt="Jahirul Islam" class="img-responsive img-circle" />
            </div>
            <div class="col-lg-6">
                <blockquote>
                    <p>Bappi Datta</p>
                    <address>
                        <strong>Email</strong>
                        <a href="mailto:#">bappi@gmail.com</a>
                    </address>
                    <footer>
                        Working in
                        <cite title="Southtech Limited">Southtech Limited</cite>
                    </footer>
                </blockquote>

            </div>
        </div>

        <div class="row">
            <div class="col-lg-2">
                <img src="app\components\home\views\about\4.jpg" alt="Jahirul Islam" class="img-responsive img-circle" />
            </div>
            <div class="col-lg-6">
                <blockquote>
                    <p>Md. Monirul Islam</p>
                    <address>
                        <strong>Email</strong>
                        <a href="mailto:#">monirul@gmail.com</a>
                    </address>
                    <footer>
                        Working in
                        <cite title="Southtech Limited">Southtech Limited</cite>
                    </footer>
                </blockquote>
            </div>
        </div>
    </div>
</div>
