<div class="col-xs-8 col-xs-offset-2">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="panel-title">
                <div class="row">
                    <div class="col-xs-6">
                        <h5><span class="glyphicon glyphicon-shopping-cart"></span> Shipping Method</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row pricing-table pricing-three-column ">

                <div class="plan col-sm-4 col-lg-4">
                    <div class="plan-name-bronze">
                        <h2>FedEx</h2>
                        <span>$8.99 </span>
                    </div>
                    <ul>
                        <li class="plan-feature">3 days</li>
                    </ul>
                </div>
                <div style="z-index:55;" class="plan col-sm-4 col-lg-4">
                    <div class="plan-name-silver">
                        <h2>DHL <span class="badge badge-warning">Popular</span></h2>
                        <span><strike>$10.99</strike>   <font color="red">$9.99 - <span class="label label-warning">Sale</span>
                        </font>
                        </span>
                    </div>
                    <ul>
                        <li class="plan-feature">5 Days</li>
                    </ul>
                </div>
                <div class="plan col-sm-4 col-lg-4">
                    <div class="plan-name-gold">
                        <h2>UPS</h2>
                        <span>$15.99</span>
                    </div>
                    <ul>
                        <li class="plan-feature">3 days</li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="panel-footer">
            <div class="row text-center">
                <div class="col-xs-3 col-xs-offset-9">
                    <a ui-sref="shopping.billing.address()" class="btn btn-success btn-block">
                        Next
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
