<div class="col-xs-8 col-xs-offset-2">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="panel-title">
                <div class="row">
                    <div class="col-xs-6">
                        <h5><span class="glyphicon glyphicon-shopping-cart"></span> Payment Method</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row payment-method">

                <div class="col-md-2 column productbox">
                    <img src="app\components\buyer\views\paymentMethod\Discover.png" class="img-responsive">
                    <div class="producttitle">Discover</div>
                    <div class="productprice">
                        <div class="pricetext">-2%</div>
                    </div>
                </div>
                <div class="col-md-2 column productbox">
                    <img src="app\components\buyer\views\paymentMethod\Delta.png" class="img-responsive">
                    <div class="producttitle">Delta</div>
                    <div class="productprice">
                        <div class="pricetext">-15%</div>
                    </div>
                </div>
                <div class="col-md-2 column productbox">
                    <img src="app\components\buyer\views\paymentMethod\MasterCard.png" class="img-responsive">
                    <div class="producttitle">Master Card</div>
                    <div class="productprice">
                        <div class="pricetext">-5%</div>
                    </div>
                </div>
                <div class="col-md-2 column productbox">
                    <img src="app\components\buyer\views\paymentMethod\Maestro.png" class="img-responsive">
                    <div class="producttitle">Maestro</div>
                    <div class="productprice">
                        <div class="pricetext">-5%</div>
                    </div>
                </div>
                <div class="col-md-2 column productbox">
                    <img src="app\components\buyer\views\paymentMethod\Visa.png" class="img-responsive">
                    <div class="producttitle">Visa</div>
                    <div class="productprice">
                        <div class="pricetext">-8%</div>
                    </div>
                </div>
                <div class="col-md-2 column productbox">
                    <img src="app\components\buyer\views\paymentMethod\VisaElectron.png" class="img-responsive">
                    <div class="producttitle">Visa Electron</div>
                    <div class="productprice">
                        <div class="pricetext">-10%</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row text-center">
                <div class="col-xs-3 col-xs-offset-9">
                    <a ui-sref="shopping.payment()" class="btn btn-success btn-block">
                        Next
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
