<div class="col-xs-8 col-xs-offset-2">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="panel-title">
                <div class="row">
                    <div class="col-xs-6">
                        <h5><span class="glyphicon glyphicon-shopping-cart"></span> Membership</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">

                <div class="row product-offer">
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="offer offer-default">
                            <div class="shape">
                                <div class="shape-text">
                                    top
                                </div>
                            </div>
                            <div class="offer-content">
                                <h3 class="lead">Bronze</h3>
                                <p> get 2% discount on selected products.
                                    <br /> for $50
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="offer offer-success">
                            <div class="shape">
                                <div class="shape-text">
                                    top
                                </div>
                            </div>
                            <div class="offer-content">
                                 <h3 class="lead">Silver</h3>
                                <p> get 5% discount on selected products.
                                    <br /> for $500
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="offer offer-radius offer-primary">
                            <div class="shape">
                                <div class="shape-text">
                                    top
                                </div>
                            </div>
                            <div class="offer-content">
                                 <h3 class="lead">Gold</h3>
                                <p> get 10% discount on selected products.
                                    <br /> for $5000
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="offer offer-info">
                            <div class="shape">
                                <div class="shape-text">
                                    top
                                </div>
                            </div>
                            <div class="offer-content">
                                <h3 class="lead">Platinum</h3>
                                <p> get 5% discount on all products.
                                    <br /> for $5000
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="offer offer-warning">
                            <div class="shape">
                                <div class="shape-text">
                                    top
                                </div>
                            </div>
                            <div class="offer-content">
                                <h3 class="lead">Premium</h3>
                                <p> get 8% discount on all products.
                                    <br /> for $7750
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="offer offer-radius offer-danger">
                            <div class="shape">
                                <div class="shape-text">
                                    top
                                </div>
                            </div>
                            <div class="offer-content">
                                <h3 class="lead">Ultimate</h3>
                                <p> get 10% discount on all products.
                                    <br /> for $11500
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="panel-footer">
            <div class="row text-center">
                <div class="col-xs-3 col-xs-offset-9">
                    <a ui-sref="shopping.cart()" class="btn btn-success btn-block">
                        Not Now
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
